.datos_h_af
    background: #f4f4f4
    width: 90%
    margin-top: 20px
    border-radius: 15px
    padding: 15px
    max-height: 72vh
    overflow-y: scroll
    h2
        // text-align: center
        margin: 10px auto
        font-size: 25px
    form
        input,button, select
            width: 80%
            display: block
            padding: 10px
            border : 2px solid black
            margin-bottom: 10px
        .actualizar
            color: white
            border: none
            background: #3ec4ab
            cursor: pointer
            &:hover
                background: #379e8b
.msj_error_login
    padding: 0
    border-color: transparent
    color :#DA2672
    font-weight: 400
    margin: 15px auto
    i
        color: #da2672
        padding-left: 6px
        padding-right: 6px